@page "/CreateWare"
<h3>CreateWare</h3>

<div class="card">
    <div>
        <div>
            <label>Kundenummer</label>
            <input type="text" @bind="kundeNummer"/>
            <label>Varenummer</label>
            <input type="text" @bind="vareNummer"/>
            <label>Vare antal</label>
            <input type="text" @bind="vareAntal"/>
        </div>
        <div>
            <button @onclick="createWare">Create</button>
        </div>

    </div>


</div>


@code {

    private string kundeNummer;
    private string vareNummer;
    private string vareAntal;

    private void createWare()
    {
        
    }

}